<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entry Via MS3</title>
</head>

<body>
    <h1>Entry Via MS3 -> DB-B + DB-A</h1>

    <form action="/ms3" method="POST">
        <label for="nama">Nama:</label>
        <input type="text" id="nama" name="nama" required><br><br>

        <label for="sem">Semester:</label>
        <input type="text" id="sem" name="sem" required><br><br>

        <button type="submit">Tambah Data</button>
    </form>

    <hr>
    <a href="/">Kembali ke Halaman Utama</a>

</body>

</html>